<!DOCTYPE html>
<html>

<head>
    <title>Result of SQL Query</title>
    <link rel="stylesheet" href="dynamic_grid/style.css">
    <style>
        body{
            overflow: scroll;
        }
    </style>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>

    <main>
        <div>
            <div>
                <h6>Your query is</h6>
                <h5><%= query %></h5>
            </div>
            
            <br>
            <table cellpadding="0">
                <thead>
                    <tr>
                        <% column.forEach(element => { %>
                            <th><%= element.name %></th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < data.length; i++ ) { %>
                        <tr>
                            <% var val = Object.values(data[i]); %>
                            <% val.forEach( (ele) => { %>
                                <td>
                                    <%= ele %>
                                </td>
                            <% }); %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include('footer') %>
    </footer>

</body>

</html>